################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDb.DDD.Infrastructure/Client.Console/obj
