@page
@model CreateBook
@{
    ViewData["Title"] = "Create book";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" id="title" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" id="description" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="title">Author</label>
        <select name="authorId" asp-items="Model.Authors"></select>
    </div>
    <button class="btn btn-primary" type="submit">Create book record</button>
</form>