@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>All library records are displayed here.</p>

<a asp-page="./LibraryRecords/CreateLibraryRecord" class="btn btn-primary">Create new library record</a>

