@page
@model CreateLibraryRecord
@{
    ViewData["Title"] = "Create library record";
}
<h1>@ViewData["Title"]</h1>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<div class="form-group">

    <div class="form-group">
        <label for="title">User</label>
        <select id="userId" asp-items="@Model.Users"></select>
    </div>

    <div id="bookDropdowns">
    </div>

    <button class="btn" id="addBook">Add book</button>

</div>

    <button class="btn btn-primary" id="createBookRecord">Create book record</button>

<script>

    generateDropdown("1", []);

    $("#addBook").click(function addBook() {
        var selectorsCount = $("select[class*='bookDropdown']").length;

        var booksToIgnore = [];

        document.querySelectorAll('.dropdownBook').forEach(function (item) {
            var selectedValue = item.options[item.selectedIndex].value;
            booksToIgnore.push(selectedValue);
        });

        generateDropdown(selectorsCount, booksToIgnore);
    });

    function generateDropdown(index, bookToIgnore) {
        $.getJSON(`http://localhost:50821/api/books`, (data) => {
            var optionsAppend = "";

            $.each(data, function (a, item) {
                if (!bookToIgnore.includes(item.value)) {
                    optionsAppend += `<option value="${item.value}">${item.text}</option>`;
                }
            });

            if (bookToIgnore.length !== data.length) {
                $("#bookDropdowns").append("<select class='dropdownBook' id='" + index + "'>" + optionsAppend + "</select>");
                $("#bookDropdowns").append("<input type='number' value='1' id='bookValue" + index + "'>");
                $("#bookDropdowns").append("</br>");
            }
            else {
                    $("#addBook").prop('disabled', true);
                }
        });
    }

    $("#createBookRecord").click(function () {
        var form = {};
        form.userId = $("#userId").val();

        form.books = [];
        document.querySelectorAll('.dropdownBook').forEach(function (item, index) {
            form.books[index] = {};
            var selectedValue = item.options[item.selectedIndex].value;
            form.books[index].id = selectedValue;
            var bookAmount = $("input[id*='bookValue" + item.id + "' ]").val();
            form.books[index].amount = bookAmount;
            var bookTitle = item.options[item.selectedIndex].text;
            form.books[index].title = bookTitle;
        });

        var formJson = JSON.stringify(form)

        $.ajax({
            type: "POST",
            url: "http://localhost:50821/api/addBookLibrary",
            data:  formJson,
            contentType: "application/json",
            dataType: "json",
            success: function (response, textStatus, jqXHR) {
                window.location.replace("http://localhost:50821/");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    })


</script>
